@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  font-weight: 400;
  color: black;
}

label {
  margin: 0 0 4px 0;
  font-size: 14px;
  font-weight: 600;
}

input {
  padding: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

input:focus {
  border: 1px solid #ff9f1c;
  box-shadow: 0 0 4px #ff9f1c;
}

.container {
  margin-bottom: 7px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
}

.container-logo {
  margin: 0 10px 10px 10px;
}

.logo a {
  color: #222222;
  transition: 400ms all;
}

.logo a:hover {
  color: #ff9f1c;
}

.container-login {
  margin: 0 10px;
}

.container-login-title {
  margin: 0 10px 20px 10px;
  text-align: center;
}

.container-login-email {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.container-login-password {
  margin: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
}

.container-login-button {
  margin: 20px 10px 6px 10px;
  text-align: center;
}

.button {
  width: 190px;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  outline: none;
  color: #ffffff;
  background-color: #ff9f1c;
  transition: 400ms all;
}

.button:hover {
  background-color: #ff9f1c;
}

.container-login-forgot {
  margin: 20px 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-password a,
.forgot-password:visited {
  font-size: 12px;
  text-align: center;
  color: black;
}

.forgot-password a:hover {
  color: #c85552;
}

.login-img {
  width: 350px;
  position: absolute;
  top: 60%;
  left: 1%;
}
