<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="../js/controller/register.js" defer></script>
    <title>Ponto Certo - Login</title>
</head>
  
<body>

  <div class="container-logo">
    <h1 class="logo"><a href="index.html">Ponto Certo <span>Cadastro</span></a></h1>
  </div>

  <div class="container">
    
    <form class="container-login">
      <div class="container-login-title">
        <h2 class="title">Cadastro</h2>
      </div>

      <div class="container-login-email">
        <label for="user">Email</label>
        <input type="text" name="email" id="email" required/>
      </div>

      <div class="container-login-password">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" required/>
      </div>

      <div class="container-login-button">
        <input type="submit" value="Cadastrar" class="button" onclick="registerUser()">
      </div>
      </div>
    </form>

    <div class="container-back">
      <h3 class="forgot-password">
        <a href="login.html">Voltar</a>
      </h3>
    </div>
    

  </div>

</body>
</html>
