:root {
  --yellow: #ff9f1c;
  --white: #fdfffc;
  --black: #141115;
  --text: #828282;
  --secondary-backgrounds: #f3f3f3;
  --input-hover: #e8e7e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--black);
  scroll-behavior: smooth;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--white);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Merriweather", serif;
  font-weight: 600;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

img {
  display: block;
}

@media (max-width: 426px) {
  header,
  section {
    max-width: 80%;
  }
}

.grid {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: var(--text);
}

/* Header */

a img {
  width: 150px;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu a {
  font-weight: 500;
  position: relative;
}

.menu a::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--yellow);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 500ms;
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--yellow);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  background-color: #e68f19;
}

.button:active {
  background-color: #e68f19;
}

/* Hero */

main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  margin: 3rem 0;
}

.hero {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.hero h1 {
  font-size: 40px;
  line-height: 1.25;
}

.hero p,
.hero button {
  margin-top: 1.25rem;
}

.hero p {
  width: 600px;
}

.hero--right img {
  width: 400px;
}

/* Sobre */

.about .paragraph {
  max-width: 80%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.card--container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  width: 350px;
  height: 240px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.25rem;
  border: 1px solid #cdcfcc;
  border-bottom: 5px solid var(--yellow);
  background-color: var(--secondary-backgrounds);
  opacity: 0.7;
  transition: 400ms;
}

.card p {
  font-size: 0.9rem;
  text-align: left;
  color: var(--text);
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black);
}

.card img {
  width: 32px;
  filter: invert(80%) sepia(23%) saturate(7454%) hue-rotate(344deg)
    brightness(102%) contrast(101%);
}

.card:hover {
  transform: translateY(-8px);
  opacity: 1;
}

/* Contato */

.contact--form {
  max-width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #cdcfcc;
  border-radius: 0.25rem;
  background: var(--secondary-backgrounds);
}

.contact--form label {
  margin-bottom: 0.35rem;
}

.contact--form input,
.contact--form textarea {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.75rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  background-color: var(--white);
  color: var(--black);
  transition: 400ms;
  user-select: auto;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: var(--input-hover);
}

input[value] {
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--white);
}

input[value]:hover {
  background-color: #e68f19;
}

input:last-child {
  margin-bottom: 0;
}

/* Footer */

footer {
  padding: 1rem 0;
  text-align: center;
  background: var(--secondary-backgrounds);
}
